<!doctype html>
<html>
<head>
<title>I DO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<h1>欢迎注册</h1>
<div class="log container">
	<div class="content1 row">
		<a href="/">
    					<img src="../static/images/bg.jpg" height="100%" width="100%" style=" width: 600px;height: 348px;top:0;left:0; right:0"/>
					</a>
			<p style="font-family:'Microsoft Yahei'" align="center" >已有账户？点击图片登录点击</p>
	</div>

	<div class="content2 row">
		<h2>Sign Up</h2>
		<form id="fm">
				<input type="text" id="USERNAME" name="userid" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'NAME AND SURNAME';}">
            	<input type="password" id="PASSWORD" name="psw" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}">
		</form>
		<input type="submit" class="register" value="Register" onclick="send();">
	</div>
	<div class="clear"></div>
	<div class="row flex-center"><label id="alert"></label></div>
</div>
<div class="footer">
</div>

</body>

<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>

<script type="text/javascript">
	<!-- 发送数据到后端方法  -->
	function send()
	{
		var json_data = JSON.stringify($('#fm').serializeJSON());
		console.log(json_data);

		instance = axios.create({
			headers:{'Content-Type': 'application/json'}
		});
		instance.post('/register',json_data).then(function(response){
			//if (response.data = '')
				 window.location.href='/';

		});
	}

</script>
</html>